@font-face {
  font-family: hkgrotesk-regular;
  src: url(../../public/fonts/HKGrotesk-Regular.ttf);
}

@font-face {
  font-family: hkgrotesk-light;
  src: url(../../public/fonts/HKGrotesk-Light.ttf);
}

@font-face {
  font-family: hkgrotesk-medium;
  src: url(../../public/fonts/HKGrotesk-Medium.ttf);
}

@font-face {
  font-family: hkgrotesk-semibold;
  src: url(../../public/fonts/HKGrotesk-SemiBold.ttf);
}

@font-face {
  font-family: hkgrotesk-bold;
  src: url(../../public/fonts/HKGrotesk-Bold.ttf);
}