$eldorado-blue: #09A8A3;
$eldorado-yellow: #FAE000;
$eldorado-black: #000;

$eldorado-banner-base-size: 550px;
$eldorado-tickets-base-size: 150px;
$eldorado-tickets-triangular-bottom-height: 20vmin;

div.flex-div {
  display: block;
}