header.page-header {
  background-color: $eldorado-blue;
  height: 60px;
  width: 100%;
  overflow-y: visible;
  display: flex;

  &, img {
    z-index: 10;
  }

  div.triangular-bottom {
    width: 0;
    height: 0;
    margin-top: 60px;
    border-style: solid;
    border-width: 66px 50vw 0 46vw;
    border-color: $eldorado-blue transparent transparent transparent;
  }

  img.top-yellow {
    width: 120px;
    position: absolute;
    top: -20px;
    left: 0;
  }

  img.top-logo {
    width: 150px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
  }
}