header.page-header {
  background-color: $eldorado-blue;
  height: 60px;
  width: 100%;
  overflow-y: visible;
  position: relative;

  &, img {
    z-index: 10;
  }

  div.triangle-container {
    display: block;
    width: 100%;
    overflow-x: hidden;
    margin-top: 60px;


    div.triangular-bottom {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20vw 50vw 0 50vw;
      border-color: $eldorado-blue transparent transparent transparent;
    }
  }

  img.top-yellow {
    width: 22vw;
    position: absolute;
    top: -20px;
    left: 0;
  }

  img.top-logo {
    width: 40vw;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20vw;
  }

  img.menu-icon {
    height: 30px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;

    &.hidden {
      display: none;
    }
  }
}