div.flex-image-wrapper {
  width: 100%;
  margin-top: 10px;
}

div.page-home {
  display: flex;
  flex-direction: column;

    div.triangle-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex: 1 0 auto;

    div.triangular-bottom {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15vw 50vw 0 50vw;
      border-color: $eldorado-blue transparent transparent transparent;
    }

    div.triangular-right {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 30vw 100vw;
      border-color: transparent transparent $eldorado-blue transparent;
    }
  }
}

main.page-banner {
  height: calc(#{$eldorado-banner-base-size} - 60px);
  overflow-x: hidden;
  position: relative;
  display: flex;
  overflow-y: hidden;

  img.banner-image {
    height: calc(#{$eldorado-banner-base-size} - 60px);
    filter: grayscale(1);
    display: block;
    margin-left: -40vmin;
  }

  img.schedule-highlight {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $eldorado-blue;
    height: calc(#{$eldorado-banner-base-size} - 60px);
    padding: 100px 7px;
    box-sizing: border-box;
    z-index: 2;
  }

  h2, p {
    margin: 0;
    margin-left: 25%;
    box-sizing: border-box;
  }

  h2.banner-title {
    font-size: 1.6em;
    color: white;
    text-transform: uppercase;
  }

  p.banner-subtitle {
    font-size: 1em;
    color: white;
  }

  div.banner-description {
    width: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.7), rgba(0,0,0,1));
    height: 35%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

section.tickets {
  background-color: $eldorado-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  z-index: 30;

  img.buy-tickets {
    width: 85vmin;
    margin: 0 auto;
    display: block;
  }

  h2.tickets-subtitle {
    text-transform: uppercase;
    font-size: 1.1em;
    color: white;
    margin-bottom: -10px;
  }
}

section.about {
  position: relative; 
  box-sizing: border-box;
  overflow-y: visible;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;

  div.flex-image-wrapper {
    width: 30%;
    margin: 0;

    &:first-child {
      width: 65%;
    }

    p {
      font-size: 1.1em;
      padding-left: 10px;
    }
  }

  p.event-text {
    padding: 10px 20px;
    margin: 0;
  }

  img.about-image {
    width: 55vw;
  }

  img.mascot-image {
    width: 120px;
    margin-top: -90px;
    float: right;
  }
}

section.teasers {
  background-color: $eldorado-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  padding-bottom: 20px;
  color: white;

  div.flex-image-wrapper:first-child {
    position: relative;
  }
  
  div.flexbox {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;

  }

  img.teasers {
    width: 65vmin;
    display: block;
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  img.teaser-image {
    width: 90vmin;
    display: block;
    margin: 0 auto;
  }

  div.flex-image-wrapper {
    margin: 15px 0;

    div.image-description {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90vmin;
      margin-left: -45vmin;
      background: linear-gradient(transparent, rgba(0,0,0,0.7), rgba(0,0,0,1));
      height: 30%;
      padding: 10px;
      box-sizing: border-box;

      p {
        font-size: 0.9em;
      }
    }
  }
}