div.triangle-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex: 1 0 auto;

    &.adjust-top {
      margin-top: -30px;
    }

    div.triangular-left {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 100vw 0 0;
      border-color: $eldorado-blue transparent transparent transparent;
    }

    div.triangular-right {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 30px 100vmin;
      border-color: transparent transparent $eldorado-yellow transparent;
    }
}


div.page-schedule {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  div.flexbox:last-child {
    margin-bottom: 30px;
  }

  div.flexbox {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 0 auto;

    &.schedule {
      background-color: $eldorado-blue;
      padding-top: 25vw;
    }

    &.breweries {
      background-color: $eldorado-yellow;
    }

    &.brewery-flag {
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;

      div.flex-image-wrapper {
        background-color: $eldorado-yellow;
        height: 100px;
        width: 75vw;
        margin-left: 5vw;
        position: relative;

        img {
          height: 110px;
          width: auto;
          margin-left: 10px;
          margin-top: -20px;
        }

        h3 {
          position: absolute;
          top: 10px;
          right: 15px;
          text-transform: uppercase;
        }
      }

      div.triangle-container {
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 10px;
        width: 10vw;

        div.triangular-right {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 0 50px 10vw;
          border-color: transparent transparent transparent $eldorado-yellow;
        }
      }
    }

    &.beer-others {
      h2 {
        color: $eldorado-blue;
        margin-left: 20px;
        margin-bottom: 0;
      }
    }

    &.beer {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
      
      div {
        box-sizing: border-box;
      }
      
      img {
        width: auto;
      }

      h2.brewery-name {
        text-transform: uppercase;
        margin-bottom: 0;
      }
      
      a.beer-link {
        color: $eldorado-blue;
        padding-left: 20px;
      }

      div.beer-info {
        width: 65%;
        padding-left: 20px;

        img.beer-logo {
          height: 100px;
        }
      }

      div.beer-image {
        width: 35%;
        padding-left: 20px;

        img.beer-bottle {
          height: 280px;
        }
      }
    }
  }

  img {
    width: 75vw;
  }

  img.image-schedule {
    margin-left: 20px;
  }

  img.image-breweries {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }


  div.flexbox.tattoo-artists {
    overflow-x: hidden;

    div.flexbox.tattoo-artist-section {
      margin: 0;
    }

    div.flex-image-wrapper.tattoo-artist {
      position: relative;
      margin-top: 0;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent 0%,
                                  rgba(9, 168, 163, 0.3) 50%,
                                  rgba(9, 168, 163, 0.8) 100%);
      }

      img {
        width: 100vw;
        position: relative;
        display: block;
      }

      h3 {
        position: absolute;
        bottom: 0;
        font-size: 25px;
        left: 20px;
        color: white;
        z-index: 20;
        text-transform: uppercase;
      }
    }

    div.flexbox.tattoo-artists-header {
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: -30px;
      z-index: 50;

      div.flex-image-wrapper.tattoo-header {
        background: $eldorado-blue;
        margin-top: 0;
        padding: 10px;

        img {
          display: block;
          margin: 0 auto;
        }
      }

      div.triangle-container {
        display: flex;
        width: 100%;

        div.triangular-top-right {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 100vw 30px 0;
          border-color: transparent $eldorado-blue transparent transparent;
        }
      }
    }
  }
}

